.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #258EA6;
    height: 100vh;
}

.welcome-container h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 40px;
    color: #2B303B;
}
.welcome-container p {
    font-size: 1.3rem;
    width: 65%;
    line-height: 1.8rem;
    color: #fff;
}